header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #97dbaef5;
    padding: 20px;
    color: rgba(41, 63, 57, 0.623);
}
nav
{
    background-color:#C3E5AE;
}
section
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
article
{
    background-color: #F1E1A6;
    grid-column: 1/4;
}
aside
{
    background-color: azure;
    padding: 30px;
    grid-column:4/5;
}
footer
{
    background-color: #F4BBBB;
    color:rgb(58, 54, 49);
} 